html, #app {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  max-height: 100%;
  position: relative;
  font-family: 'Microsoft YaHei','Helvetica Neue','Helvetica','PingFang SC','Hiragino Sans GB','SimSun','sans-serif';
}

.main {
  padding: 0 15px;
  margin-bottom: 56px;
  position:relative;
}
ul {
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
/*浅灰色文字*/
.light{
  color: gray;
}
.cover {
  width: 100px;
  height: 150px;
}
a {
  cursor: pointer;
}
li {
  margin-bottom: 5px;
}
.mT20 {
  margin-top: 20px;
}
.pB20 {
  padding-bottom: 20px;
}
.mR20 {
  margin-right: 20px;
}
.mL20 {
  margin-left: 20px;
}
.fade-enter-active, .fade-leave-active {
  transition: all .3s ease
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
.bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
}
.subHeader{
  display: flex;
  justify-content: space-between;
  color: gray;
}
.bookSec {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.txtCenter {
  text-align: center;
}
.badge {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #ff4081;
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
}
.ellipsis {
  width: 300px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
/*-----toast插件--------------------*/
.toast {
  width: 80vw;
  box-shadow: 2px 2px 3px 0 #f2f2f2;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 30px);
  animation: fade 3s;
  z-index: 99;
  display: flex;
  background: white;
  align-items: center;
  font-size: 16px;
  color: #5e6d82;
}
.toast-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.info {
  background-color: #20a0ff;
}
.success {
  background-color: #1eaf5e;
}
.error {
  background-color: #ec4545
}
@keyframes fade {
  0% {
    opacity: 0;
    top: 0;
  }
  20% {
    opacity: 1;
    top: 30px;
  }
  90% {
    opacity: 1;
    top: 30px;
  }
  100% {
    opacity: 0;
    top: 0;
  }
}
